// containers
$container-xl: 1000px;
$container-sm: 700px;
$spacing: 20px;

//colors
$red-c: #db1212;
$white-c: #fff;
$light-blue-c: #859398;
$dark-blue-c: #283048;
$light-gray-c: #b0b0b0;
$dark-gray-c: #9b9b9b;
$smoky-white-c: #f1f1f1;

$error-c: $red-c;
$card-bg-c: $smoky-white-c;

// fonts
$primary-f: "Roboto", sans-serif;
